
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="loader" style="display:none;">
    <img src="~/images/loading.gif" height="100" width="100"/>
</div>

@Ajax.ActionLink("All Employees", "AllEmployees", "Home",
    new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DivUpdate",
        LoadingElementId = "loader",
    }
    )

<div id="DivUpdate">

</div>

<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>